/*--- geral ---*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/*--- navegacao --- */

.container-navegacao {
  display: flex;
  padding: 25px;
  justify-content: space-around;
  position: relative;
}

.navegacao {
  display: flex;
  gap: 50px;
  position: relative;
  cursor: pointer;
}

.container-navegacao button {
  width: 127px;
  height: 40px;
  border: 1px solid rgba(18, 17, 39, 0.12);
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}

/* --- home ---*/
body {
  background: linear-gradient(248.66deg, #fff1f1 0%, #e9f8fb 100%);
  min-height: 100vh;
}

.home-page {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 100px;
}

.content-home {
  padding: 80px;
}

.content-home h1 {
  font-size: 50px;
}

.content-home p {
  color: rgba(18, 17, 39, 0.56);
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.home-btn {
  width: 127px;
  height: 40px;
  border: 1px solid rgba(18, 17, 39, 0.12);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}

.home-btn1 {
  width: 127px;
  height: 40px;
  border: 1px solid rgba(18, 17, 39, 0.12);
  border-radius: 8px;
  background: #444bd3;
  color: white;
  cursor: pointer;
}

/*--- product ---*/

.product {
  background-color: white;
  min-height: 50rem;
  width: 100%;
  display: flex;
}

.content-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.product-info {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 600px;
}

.product-info h4 {
  color: rgba(68, 75, 211, 1);
  margin-bottom: 20px;
}

.product-info h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #121127;
}

.product-info p {
  font-size: 16px;
  color: rgba(18, 17, 39, 0.56);
}

.product-info button {
  background-color: rgba(68, 75, 211, 1);
  color: white;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  width: 177px;
  height: 40px;
  cursor: pointer;
}

.container-prebuilt {
  display: flex;
  margin-top: 45px;
  gap: 40px;
}

.container-prebuilt img {
  margin-bottom: 15px;
}

.container-prebuilt h5 {
  color: #121127;
  font-size: 16px;
  margin-bottom: 10px;
}

.container-prebuilt p {
  color: rgba(18, 17, 39, 0.56);
  font-size: 15px;
  margin-bottom: 20px;
}

.container-prebuilt a {
  cursor: pointer;
  font-size: 15px;
  color: #444bd3;
  font-weight: bold;
}

/* --- Features ---*/
.features {
  background-color: #f2f3ff;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
}

.feat-info p {
  color: rgba(18, 17, 39, 0.56);
  font-size: 20px;
  margin-top: 20px;
}

.feat-info h1 {
  font-size: 42px;
  color: #121127;
}

.feat-info button {
  background-color: rgba(68, 75, 211, 1);
  color: white;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  width: 177px;
  height: 40px;
  cursor: pointer;
}

/*--- marketplace page ---*/

.marketplace {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.container-mkt {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.from-the-blog h4 {
  color: rgba(68, 75, 211, 1);
  margin-bottom: 20px;
}

.from-the-blog {
  border-bottom: 0.4px solid #afa9a9;
}

.from-the-blog h1{
  font-size: 42px;
  margin-bottom: 15px;
}

.from-the-blog p {
  color: rgba(18, 17, 39, 0.56);
  font-size: 20px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  gap: 50px;
  margin-top: 50px;
  
}

.card1 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 24px;
  background: #FCE7F3;
  color: rgba(236, 72, 153, 1);
  font-weight: bold;
  border-radius: 100px;
  border: none;
}

.card1 h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card1 p {
color:rgba(18, 17, 39, 0.56);
margin-bottom: 30px;
}

.profile1 {
  display: flex;
  height: 50px;
  gap: 10px;
}

.card2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 24px;
  background: #FFF4E6;
  color: rgba(242, 87, 34, 1);
  font-weight: bold;
  border-radius: 100px;
  border: none;
}

.card2 h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card2 p {
color:rgba(18, 17, 39, 0.56);
margin-bottom: 30px;
}

.profile2 {
  display: flex;
  height: 50px;
  gap: 10px;
}

.card3 button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 16px;
  width: 110px;
  height: 26px;  
  background: #BBF3F7;
  color: #2A7576;
  font-weight: bold;
  border-radius: 100px;
  border: none;
}

.card3 h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card3 p {
color:rgba(18, 17, 39, 0.56);
margin-bottom: 30px;
}

.profile3 {
  display: flex;
  height: 50px;
  gap: 10px;
}

/*--- company page---*/
.company {
  background-color: #F9F9FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:#121127;
  font-weight: 200;
  text-align: center;
}

.img-company {
  margin-top: 103px;
  margin-bottom: 32px;
}