/*--- geral ---*/

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
 }

/*--- navegacao --- */

.container-navegacao {
    display: flex;
    padding: 25px ;
    justify-content: space-around;
    position: relative;

}

.navegacao {
    display: flex;
    gap: 50px;
}


.container-navegacao button {
    width: 127px;
    height: 40px;
    border: 1px solid rgba(18, 17, 39, 0.12);
    border-radius: 6px;
    background: transparent;
}

/* --- home ---*/
body {
    background: linear-gradient(248.66deg, #FFF1F1 0%, #E9F8FB 100%);
    min-height: 100vh;

}

.home-page {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin: 50px ;
    min-height: 100vh;
    
}

.content-home {
        padding: 80px;
}
.content-home h1 {
    font-size: 50px;
 }

.content-home p {
   color: rgba(18, 17, 39, 0.56);
   font-size: 20px;
   padding: 10px;
   margin-bottom: 10px;
}

.home-btn {
    width: 127px;
    height: 40px;
    border: 1px solid rgba(18, 17, 39, 0.12);
    border-radius: 8px;
    background: transparent;
}

.home-btn1{
    width: 127px;
    height: 40px;
    border: 1px solid rgba(18, 17, 39, 0.12);
    border-radius: 8px;
    background:  #444BD3;
    color: white;
}

/*--- product ---*/

.product {
    background-color: white;
    min-height: 60rem;

}